<div class="row">

    <!-- Seccion del buscador -->
    <div class="col-12" style="padding-bottom: 3px;">
        <form action="/search" method="POST">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" name="i" id="i" placeholder="Write your i" value=""
                            class="form-control" autofocus>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" name="n" id="n" placeholder="Write your n" value=""
                            class="form-control" autofocus>
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Seccion de informacion de las stories -->
    {{#each dataStories}}
    <div class="col-md-6" style="padding-bottom: 10px;">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body">
                <p>Score: {{score}}</p>
                <p>Type: {{type}}</p>
                <p>Url: {{url}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>